{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="col-2">
</div>
<div class="m-5 rounded-3 p-5 col-8" style="background-color: #F8F9FA">
    <div class="content">
       
        {% bootstrap_form form %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="chart_bool" id="chart_bool">
            <label class="form-check-label" for="chart_bool">Формировать графики</label>
        </div>
        <button class="btn btn-success" type="submit">Загрузить</button>
    </div>
</div>

{% endblock %}